body{
	color: #111111;
}
.dropdown-menu{
	box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1);
}

/***************************************************
					Navbar
***************************************************/
.navbar{
	min-height: 50px;
}
.navbar-default{
	background-color: #004BA8;
}
	.navbar-default,
	.navbar-default .navbar-brand,
	.navbar-default .navbar-nav>li>a{
		color: #F5F5F5;
	}
	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus,
	.navbar-default .navbar-nav>.open>a,
	.navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus{
		background-color: #002D66;
		color: #F5F5F5;
	}
	.navbar-default .navbar-brand{
		margin-top: -4px;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus{
		color: #F5F5F5;
	}
		.navbar-default .navbar-brand img{
			margin-top: -5px;
		}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus{
	background-color: #004BA8;
	color: #F5F5F5;
}

/***************************************************
					Buttons
***************************************************/
.btn-primary{
	background-color: #004BA8;
}
.btn-primary:hover{
	background-color: #002D66;
}
.btn-input{
    margin-top: -1px;
    padding-top: 9px;
    padding-bottom: 9px;
}

/***************************************************
				Sign in / Sign up box
***************************************************/
.signin-signup-container{
	max-width: 600px;
	margin: auto;
	margin-top: 100px;
}
	.signin-signup{
		padding: 25px;

		border-radius: 5px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		
		border: solid 1px #DDD;
		border-top: none;

		box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.1);
	}
		.btn.btn-facebook{
			background-color: #3b5998;
			border: none;
		}
		.btn.btn-google{
			background-color: #d34836;
			border: none;
		}
/***************************************************
					Split button
***************************************************/
.split-btn{
	padding: 0px;
	text-align: left;
	overflow: hidden;
}
		.split-btn>.split-btn-left,
		.split-btn>.split-btn-right{
			height: 100%;
			vertical-align: middle;
			padding: 6px 12px;
			text-align: center;
		}
			.split-btn>.split-btn-left{
				float: left;
				border-right: solid 1px rgba(0, 0, 0, 0.2);
				width: 50px;
			}
			.split-btn>.split-btn-right{
				overflow: hidden;
			}
				.split-btn>.split-btn-left>img{
					margin-top: -5px;
				}
/***************************************************
						Tabs
***************************************************/
.signin-signup-tabs .nav-tabs {
	border-bottom: 1px solid #DDD;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
	border: 1px solid #DDD;
    border-bottom-color: transparent;
}
/***************************************************
						Tools
***************************************************/
.panel-center {
	max-width:700px;
	margin: 0 auto;
}
/***************************************************
					Dashboard
***************************************************/
[ng-drop] div{
	position: relative;
}
[ng-drag].dragging {
    opacity: 0.75;
}
[ng-drop].drag-enter {
	box-shadow: 0px 0px 10px 0px rgba(46, 129, 232, 0.75);
    border: solid 1px #2E81E8;

}
.panel .panel-heading{
    padding-top: 15px;
    padding-bottom: 15px;
}
#backlog-container .panel .panel-heading{
    position: relative;
}
.panel .panel-heading button.panel-button{
    position: absolute;
    top: 7px;
    right: 7px;
}
/***************************************************
					Sprint
***************************************************/
#sprint-container>div.selected-sprint{
	background-color: #BF2727;
	border-color: #A90E0E;
}

#sprint-container{
	padding-left: 34px;
	margin-bottom: 20px;
	color: white;
}
#sprint-container>div{
	cursor: pointer;
}
#sprint-container>div.sprint, #sprint-container>div.sprint-first{
	position: relative;
	padding-right: 18px;
	padding-left: 30px;
	margin-right:2px;
	border-radius: 0px 4px 4px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
}
#sprint-container>div.sprint-first{
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0px;
}

#sprint-container>div.sprint-create{
	margin-left:-4px;
	border-radius: 0px 4px 4px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;


}

#sprint-container>div.sprint:before, #sprint-container>div.sprint:after, #sprint-container>div.sprint-first:after{
	transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);

	content:"";
	position: absolute;
	top: 5px; /* move it down because of rounded corners */
	width: 22px; /* same as height */
	height: 22px; /* button_outer_height / sqrt(2) */
	background: inherit; /* use parent background */
	border: inherit; /* use parent border */
	border-left-color: transparent; /* hide left border */
	border-bottom-color: transparent; /* hide bottom border */

}

#sprint-container>div.sprint:before{
	background-color: white;
	left: -11px;
}

#sprint-container>div.sprint:after ,#sprint-container>div.sprint-first:after{
	right: -11px;
	z-index: 1;
}
