.modal-header{
    background-color: #3200E6;
}
.modal-header h4{
    color: #ffffff;
}
.modal-header-info{
    background-color: #3200E6;
}
.modal-header-error{
    background-color: #FF2828;
}
.modal-header-success{
    background-color: #5cb85c;
}
.modal-header-warning{
    background-color: #FFB400;
}