<div class="modal-header modal-header-warning">
	<span class="close" ng-click="$close()">&times;</span>
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span> {{ title }}</h4>
</div>
<div class="modal-body" ng-bind-html="message">
</div>
<div class="modal-footer">
    <button type="submit" 
        class="btn btn-default"
        ng-click="cancel()">
        Annuler
    </button>
    <button type="submit"
    	class="btn btn-default"
    	ng-click="confirm()">
    	Confirmer
    </button>
</div>