<div class="modal-header modal-header-success">
	<span class="close" ng-click="$close()">&times;</span>
    <h4><span class="glyphicon glyphicon-ok-sign"></span> {{ title }}</h4>
</div>
<div class="modal-body" ng-bind-html="message">
</div>
<div class="modal-footer">
    <button type="submit" 
        class="btn btn-default"
        ng-click="$close()">
        Fermer
    </button>
</div>