
<div ng-include src="'templates/sprintbar.html'">
</div>
<h1>{{currentProject.name}}</h1>
<!--<div id="backlog-container" class="dashboard-col col-sm-3">
    <div class="panel panel-default"
         ng-drop="true"
         ng-drop-success="moveTicket($index, $data, $event)">
        <div class="panel-heading">
            <h3 Backlog
            </h3>
            <button class=" btn btn-default panel-button"ng-click="createTicket()">+</button>
        </div>
        <div class="panel-body" >
            <div ng-repeat="ticket in currentProject.backlog track by $index"  ng-drag="true"
                 ng-drag-data="{statusIndex: $parent.$index, ticketIndex: $index}"
                 data-allow-transform="true"
                 class="ticket well">
                <h4 class="ticket-title">
                    {{ ticket.title }}
                </h4>
                <p class="ticket-description">
                    {{ ticket.description }}
                </p>
            </div>
        </div>
    </div>
</div>-->
<div id="tasks-container" class="row col-sm-12">

    <div ng-repeat="status in statuses track by $index"
        class="dashboard-col col-sm-3">
        <div class="panel panel-default"
            ng-drop="true"
            ng-drop-success="moveTicket($index, $data, $event)">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ status.name }}
                </h3>
                <button ng-if="$index == 0 " class=" btn btn-default panel-button"ng-click="createTicket()">+</button>

            </div>
            <div class="panel-body">
                <div ng-repeat="ticket in status.tickets track by $index"
                    ng-drag="true"
                    ng-drag-data="{statusIndex: $parent.$index, ticketIndex: $index}"
                    data-allow-transform="true"
                    class="ticket well">
                    <h4 class="ticket-title">
                        {{ ticket.title }}
                    </h4>
                    <p class="ticket-description">
                        {{ ticket.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
