<div class="modal-header">
    <h3 class="modal-title">Invitez des membres à joindre le projet</h3>
</div>
<div class="modal-body">
  <label class="h4">Personne à inviter :</label>
      <br/>
      <form name="inviteModalForm">
        <div class="input-group">
          <input type="email" name="email" class="form-control" placeholder="John.Doe@gmail.com" ng-model="guest" required>
          <span class="input-group-btn">
            <button ng-class="
          {
            'btn-danger':inviteModalForm.email.$dirty && inviteModalForm.email.$invalid,
            'glyphicon-remove':inviteModalForm.email.$dirty && inviteModalForm.email.$invalid,
            'btn-success':!inviteModalForm.email.$dirty || !inviteModalForm.email.$invalid,
            'glyphicon-success':!inviteModalForm.email.$dirty || !inviteModalForm.email.$invalid
          }" class="btn-input btn glyphicon glyphicon-plus" type="button" ng-click="addNewGuest()"></button>
          </span>
        </div><!-- /input-group -->
      </form>
  <h3>Invités</h3>
    <ul> 
        <li ng-repeat="item in newGuests track by $index">{{item}}          </li>
    </ul>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>