<div class="signin-signup-container"
	ng-controller="LoginController">
	<uib-tabset class="signin-signup-tabs">
		<uib-tab heading="Inscription" select="setAction('signup')"></uib-tab>
		<uib-tab heading="Connexion" select="setAction('signin')"></uib-tab>
	</uib-tabset>
	<div class="signin-signup">
		<form class="form-horizontal"
			ng-submit="submit()">
			<div ng-if="action === 'signup'">
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Prenom
					</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="credentials.firstName" ng-required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">
						Nom
					</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" ng-model="credentials.lastName" ng-required/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">
					Email
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-model="credentials.login" ng-required/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">
					Mot de passe
				</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" ng-model="credentials.password" ng-required/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<input type="submit"
						class="btn btn-primary form-control"
						value="{{ action === 'signup' ? 'S\'inscrire' : 'Se connecter'}}"/>
				</div>
			</div>
		</form>
		<hr />
		<div class="container-fluid">
			<div class="row" style="margin-bottom: 15px;">
				<button class="btn btn-primary btn-facebook split-btn form-control"
					ng-click="submitFacebook()">
					<div class="split-btn-left">
						<img width="30" height="30" src="images/fb-logo.png" />
					</div>
					<div class="split-btn-right">
						{{ action === 'signup' ? 'S\'inscrire' : 'Se connecter' }} avec Facebook
					</div>
				</button>
			</div>
			<div class="row">
				<button class="btn btn-primary btn-google split-btn form-control"
					ng-click="submitGoogle()">
					<div class="split-btn-left">
						<img width="30" height="30" src="images/ggle-logo.png" />
					</div>
					<div class="split-btn-right">
						{{ action === 'signup' ? 'S\'inscrire' : 'Se connecter' }} avec Google+
					</div>
				</button>
			</div>
		</div>
	</div>
</div>