<nav class="navbar navbar-default"
	ng-controller="NavbarController">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">
				<img src="images/ekoiko-logo.png" width="40" height="40"/>
				<span>DoEko</span>
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="navbar-collapse"
			ng-class="{collapse: !isCollapsed, in: isCollapsed}" ng-click="getCurrentUserProjects()">
			<ul ng-if="getCurrentUser().isLogged"
				class="nav navbar-nav">
				<li uib-dropdown>
					<a href="#"
						class="dropdown-toggle"
						uib-dropdown-toggle>
						My Projects
						<span class="caret"></span>
					</a>
					<ul class="uib-dropdown-menu" role="menu">
						<li>
							<a href="#/new/project">Créer un projet</a>
						</li>
						<li ng-repeat="project in projects track by $index">
							<a href="#/projet/{{project.id}}">{{project.name}}</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#/projets/administrer/projet1">
						<span class="glyphicon glyphicon-cog"></span>
						Administrer le projet
					</a>
				</li>
			</ul>
			<div class="nav navbar-nav navbar-right navbar-form"
				ng-if="getCurrentUser().isLogged"
				ng-include
				src="'templates/user.html'">
			</div>
		</div>
	</div>
</nav>