<div class="panel-center panel panel-default" >
	<div class="panel-heading"><h3>Nouveau Projet</h3></div>
	<form class="panel-body" ng-submit="createProject()">
		<div>

			<label class="h3">Nom du projet</label>
			<br/>
			<input ng-model="projectTitle" class="form-control"placeholder="Ici le titre de votre fabuleux projet !" required/>
		</div>
		<hr/>
		<div>
			<label class="h3">Membres</label>
			<table class="table table-hover table-bordered" >
				<thead>
					<tr>
						<th>#</th>
						<th>Email</th>
						<th>
							<button type="button" title="Ajoute de nouveaux membres" class="glyphicon glyphicon-plus btn btn-success" ng-click="openInviteModal()">
							</button>
						</th>
					</tr>
				</thead>
				<tr ng-repeat="user in guests">
					<td>
						{{$index+1}}
					</td>
					<td >
						{{user.email}}
					</td>
					<td>
						<button title="Supprime l'utilisateur"class="glyphicon glyphicon-remove btn btn-danger" ng-click="removeUserFromGuests($index)">
						</button>
					</td>
				</tr>
			</table>
		</div>
		<button class="form-control btn btn-primary" type="submit">Créer le projet</button>
	</form>
</div>