<div id="sprint-container" class="row" ng-controller="SprintbarController">
    <div ng-if="currentProject.sprints.length == 0" class="btn btn-default sprint-first sprint-create" ng-click="createSprint()">+</div>
    <div id="sprint-{{sprint.id}}" ng-repeat="sprint in currentProject.sprints track by $index" class="btn btn-warning" ng-click="selectSprint(sprint.id)" ng-class="{'selected-sprint': $last,'sprint-first': $index == '0','sprint': $index != '0'}">Sprint {{$index+1}}</div>
    <div ng-if="currentProject.sprints.length > 0" class="btn btn-default sprint sprint-create" ng-click="createSprint()">+</div>
</div>